.app-movie {
  padding: 50px 0;
  .app-movie__loading {
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  .app-movie__movie__poster__empty {
    min-width: 400px;
    height: 600px;
    background-color: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-movie__movie {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    .app-movie__movie__poster {
      min-width: 500px;
    }
    .app-movie__movie__info {
      margin-left: 20px;
      .app-movie__movie__info__title {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .app-movie__movie__info__item {
        font-size: 18px;
        margin: 10px 0;
      }
    }
  }
}